/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body{
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(117, 84, 13, 0.25) 20%, rgba(0, 201, 255, 0.29) 68%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
